nav, .button-getDrink {
  display: flex;
  justify-content: center;
}

nav > button, .button-getDrink > button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 3vmin;
  margin: 5px;
  border: none;
}

h1, h2, h3, p{
  text-align: center;
}

@media (min-width: 992px) {
  p {
    text-align: left;;
  }
}


.drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}


.drink-list > div {
  background-color: rgba(42, 42, 42, 0.428);
  width: 100%;
  margin: 2px;
  border: 2px solid rgb(245, 245, 245);
}

@media (min-width: 576px) {
  .drink-list >div {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .drink-list >div {
    width: 23%;
  }
}

@media (min-width: 992px) {
  .drink-list >div {
    width: 16%;
  }
}

.drink-list > div > img {
  width: 100%;
  aspect-ratio: 4/6;
  object-fit: contain;
  display: block;
  margin: 0 auto;

}



